body{
    background-color: gainsboro;
}

.container{
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.gameboard{
    align-items: center;
}

li{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3,8rem);
    grid-template-rows: repeat(3,8rem);
    background-color:white;
    text-align: center;
    padding: 0;
    margin: 0;
    gap: 10px;
}

ul{
    background-color: aqua;
    border: 3px solid black;
    margin: 0;
    padding: 0;
    height: 8rem;
    width: 8rem;
    font-size: 100px;
}

ul:hover{
    background-color: blue;
}

h1{
    text-shadow: 2px 2px 0px black;
    color: orange;    
}

h2{
    margin: 10px;
    background-color: white;
    color: darkslategrey;
    box-shadow: 3px 3px 3px gray;    
}

button{
    background-color: black;
    color: white;
    font-weight: bold;
    font-size: large;
    width: 1fr;
    border-radius: 15px;
    box-shadow: 5px 5px 5px rgb(98, 4, 117);    
}

button:hover{
    background-color: white;
    color: black;
}